<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <h2 class="title">Login to Continue</h2>
    <form method="POST" class="form-container">
        <label>Username:</label>
        <input type="text" name="username" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <input type="submit" value="Login">
        {% if error %}
            <p style="color:red; text-align:center;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>
